%h1 Categories

%table.table
  %tr
    %th Name
    %th
    %th
    %th

  - categories.each do |category|
    %tr
      %td= category.name
      %td= link_to 'Show', category, class: 'btn'
      - if current_user.try(:admin?)
        %td= link_to 'Edit', edit_category_path(category), class: 'btn'
        %td= link_to 'Destroy', category, method: :delete, class: 'btn', data: { confirm: 'Are you sure?' }

%br

= link_to 'New Category', new_category_path
